<footer class="footer">
    <div class="footer-container">
        <div class="footer-section">
            <div>
                <h3>Acerca de</h3>
                <ul>
                    <li>
                        <a href="/about">Nosotros</a>
                    </li>
                    <li>
                        <a href="/FAQ">Preguntas Frecuentes</a>
                    </li>
                </ul>
            </div>
            <div>
                <h3>Soluciones</h3>
                <ul>
                    <li>
                        <a href="/categories">Catalogo</a>
                    </li>
                    <li>
                        <a href="/home">Marcas</a>
                    </li>
                    <li>
                        <a href="/home">Ofertas</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="footer-section">
            <div>
                <h3>Servicio al Cliente</h3>
                <ul>
                    <li>
                        <a href="#">Devoluciones</a>
                    </li>
                    <li>
                        <a href="">Terminos y Condiciones</a>
                    </li>
                </ul>
            </div>
            <div>
                <div class="book-claims">
                    <a href="https://drive.google.com/file/d/1KTlXtnZVmHxOgxaO2GQI0JydJU-16ukS/view?usp=sharing" target="_blank">
                        <img src="https://i.imgur.com/Ii3hdm9.png" alt="book-claims">
                    </a>

                </div>
            </div>
        </div>


        <div class="footer-section">
            <div>
                <h3>Sucursales</h3>
                <ul>
                    <li>
                        <a href="#">Av. Argentina</a>
                    </li>
                    <li>
                        <a href="">Av. Universitaria</a>
                    </li>
                    <li>
                        <a href="">Av. España</a>
                    </li>
                </ul>
            </div>
            <div>
                <h3>Contacto</h3>
                <ul>
                    <li>
                        <a href="/contact">Contactenos</a>
                    </li>
                    <li>
                        <a href="/contact">Ubicanos</a>
                    </li>
                </ul>
            </div>

        </div>


        <div class="footer-section">
            <div class="logo-footer" routerLink="/home">
                <a routerLink="/home">
                    <img src=" https://i.imgur.com/i9xUu1c.jpg" alt="Logo Empresa">
                    <h3>Empresa</h3>
                </a>
            </div>

            <div>
                <h3>Medios de Pago</h3>
                <div class="payments-methods">
                    <img src="https://imgur.com/9FSsScJ.png ">
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p>Copyright &copy; 2025 "Empresa ". Todos los derechos reservados. - Powered by</p>
    </div>
</footer>