<div class="beneficios-container">
    <div class="beneficio">
        <i class="fas fa-truck"></i>
        <p>Envío Nacional</p>
    </div>
    <span class="separator"></span>
    <div class="beneficio">
        <i class="fas fa-undo-alt"></i>
        <p>Derecho de Devolución</p>
    </div>
    <span class="separator"></span>
    <div class="beneficio">
        <i class="fas fa-lock"></i>
        <p>Compras 100% seguras</p>
    </div>
    <span class="separator"></span>
    <div class="beneficio">
        <i class="fas fa-headset"></i>
        <p>Asesoría 24/7</p>
    </div>
</div>