<section class="nosotros-historia">
    <h2>HISTORIA</h2>
    <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga sint sapiente odio excepturi porro quisquam saepe repellendus debitis sed. Ullam quis molestiae, ipsa tempora harum tenetur iure eos eligendi facilis. Lorem ipsum dolor sit amet consectetur
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores reiciendis quo iusto dolorem iure laudantium suscipit animi, voluptate autem reprehenderit molestias quisquam, vero ad? Voluptate facilis pariatur non iste ex?adipisicing elit.
        Est dicta, quam natus dolore qui dignissimos temporibus eaque in nisi eligendi quibusdam aliquid possimus dolores. Quo totam laboriosam enim rem esse!</P>
</section>


<div class="mision-vision-container">
    <div class="mision">
        <h3>
            Mision
        </h3>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia laborum corporis eum incidunt dignissimos expedita doloremque, architecto saepe ducimus, aut, quo in. Est autem neque, eius tenetur unde cum explicabo? Lorem ipsum dolor sit amet, consectetur
            adipisicing elit. Natus sequi cupiditate aut temporibus quod provident eius, molestiae vel velit veniam similique fugit odio ratione rem vitae illum fuga ipsam suscipit!
        </p>
    </div>

    <div class="vision">
        <h3>
            Vision
        </h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi omnis, nisi ipsum officiis sit dolores non beatae, explicabo, necessitatibus optio amet ab neque molestiae illum aliquam facere fuga aliquid suscipit! Lorem ipsum dolor sit amet, consectetur
            adipisicing elit. Natus sequi cupiditate aut temporibus quod provident eius, molestiae vel velit veniam similique fugit odio ratione rem vitae illum fuga ipsam suscipit!
        </p>
    </div>
</div>

<section class="valores-container">
    <h2>NUESTROS VALORES</h2>
</section>
<div class="beneficios-container">
    <div class="beneficio">
        <i class="fas fa-dove"></i>
        <p>Responsabilidad</p>
    </div>
    <span class="separator"></span>
    <div class="beneficio">
        <i class="fas fa-dove"></i>
        <p>Respeto</p>
    </div>
    <span class="separator"></span>
    <div class="beneficio">
        <i class="fas fa-dove"></i>
        <p>Puntualidad</p>
    </div>
    <span class="separator"></span>
    <div class="beneficio">
        <i class="fas fa-dove"></i>
        <p>Trabajo en equipo</p>
    </div>
</div>