.content-recovery {
  width: 80%;
  margin: auto;
  padding: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
  margin: auto;
  label {
    font-size: 20px;
    font-weight: bold;
  }
  input {
    width: 100%;
  }
}

.button-container {
  display: flex;
  align-items: center;
  width: 50%;
  margin: auto;
  justify-content: center;
}

::ng-deep .p-step-title {
  color: #48828d !important;
}

::ng-deep .p-step-number {
  color: #48828d !important;
}

.button-container-2 {
  padding: 10px;
  display: flex;
  gap: 20px;
  align-items: center;
  width: 50%;
  margin: auto;
  justify-content: center;
}

.error-message {
  color: red;
  font-weight: bold;
}
