<div class="flex flex-col items-center justify-center content-recovery">
  <p-stepper [value]="currentStep" class="basis-[50rem]" [linear]="true">
    <p-step-list>
      <p-step [value]="1">Correo Electronico</p-step>
      <p-step [value]="2">Código de Verificación</p-step>
      <p-step [value]="3">Cambio de Contraseña</p-step>
    </p-step-list>

    <p-step-panels>
      <!-- Paso 1 -->
      <p-step-panel [value]="1">
        <ng-template #content let-activateCallback="activateCallback">
          <div class="flex flex-col h-48 gap-4">
            <div class="input-container border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex flex-col justify-center items-center font-medium p-4">
              <label for="email" class="font-semibold">Introduce tu correo electrónico</label>
              <input id="email" type="email" [(ngModel)]="sendEmail.email" class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" />

              <p *ngIf="errorMessage" class="text-red-500 text-sm mt-2 error-message">{{ errorMessage }}</p>

            </div>
            <div class="flex justify-end button-container">
              <p-button label="Enviar Código" icon="pi pi-arrow-right" iconPos="right" (click)="submitEmail()" />
            </div>
          </div>
        </ng-template>
      </p-step-panel>

      <!-- Paso 2 -->
      <p-step-panel [value]="2">
        <ng-template #content let-activateCallback="activateCallback">
          <div class="flex flex-col h-48 gap-4">
            <div class="input-container border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium">
              <label for="code" class="font-semibold">Introduce el código que te hemos enviado</label>
              <input id="code" type="text" [(ngModel)]="changePassword.code" class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" />
              <div class="flex justify-between button-container">
                <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" (onClick)="activateCallback(3)" />
              </div>
            </div>
          </div>
        </ng-template>
      </p-step-panel>

      <!-- Paso 3 -->
      <p-step-panel [value]="3">
        <ng-template #content let-activateCallback="activateCallback">
          <div class="flex flex-col h-48 gap-4">
            <div class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium">
              <div class="input-container border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex flex-col justify-center items-center font-medium">
                <label for="password" class="font-semibold">Nueva Contraseña</label>
                <input id="password" type="password" [(ngModel)]="changePassword.password" class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" />

                <p *ngIf="errorMessage" class="text-red-500 text-sm mt-2 error-message">{{ errorMessage }}</p>
              </div>
            </div>
            <div class="flex justify-start button-container-2">
              <p-button label="Atrás" icon="pi pi-arrow-left" (click)="currentStep = 2" />
              <p-button label="Cambiar Contraseña" icon="pi pi-check" (click)="submitChangePassword()" />
            </div>
          </div>
        </ng-template>
      </p-step-panel>
    </p-step-panels>
  </p-stepper>
</div>
