        .filters-container {
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;
        }

        .input-search {
            width: 100%;
            padding: 8px;
            border: 1px solid #48828d !important;
            border-radius: 5px;
        }

        .search-products {
            width: 60%;
        }

        .search-products input {
            width: 100%;
            height: 50px;
        }

        .selects-containers {
            width: 60%;
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }

        .table-container {
            padding: 20px;
        }

        .imagen-product {
            width: 100px;
            height: 100px;
            object-fit: contain;
        }

         ::ng-deep .p-datatable {
            width: 80%;
            margin: auto;
        }

         ::ng-deep .p-datatable-thead>tr>th {
            font-weight: bold;
        }

        .button-action {
            padding: 5px;
        }

         ::ng-deep .p-button {
            background: #48828d;
            border-color: #48828d;
            transition: 0.3s ease-in-out;
        }

         ::ng-deep .p-button:hover {
            background: #fff !important;
            color: #48828d !important;
            border-color: #48828d !important;
        }

         ::ng-deep .p-button-secondary {
            color: #fff;
        }

        .p-button-text {
            background-color: transparent;
            color: #fff;
            border: none;
        }

        .p-button-text:hover {
            color: #b52b27 !important;
        }

        .p-button-primary {
            background-color: #48828d;
            border: none;
        }

        .p-button-primary:hover {
            background-color: #3a6a72;
        }

        .p-button-danger {
            color: red !important;
        }

        .p-button-danger:hover {
            color: red !important;
        }

        .button-container,
        .buttons-container {
            display: flex;
            justify-content: space-between;
            gap: 10px;
        }

        .label-view,
        .label-edit {
            font-weight: bold;
            color: #48828d;
            font-size: 18px;
        }

        .p-field {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 100%;
            margin: 15px;
        }

        .p-field label {
            font-weight: bold;
            color: #48828d;
        }

        .p-inputtext,
        .p-inputNumber,
        .p-dropdown {
            border-radius: 5px;
            transition: 0.3s ease-in-out;
        }

        .p-inputtext:focus,
        .p-inputNumber:focus,
        .p-dropdown:focus {
            border-color: #48828d;
            box-shadow: 0 0 5px rgba(72, 130, 141, 0.5);
        }

        .p-textarea {
            border: 1px solid #48828d !important;
        }
        textarea {
          border-radius: 5px;
          transition: 0.3s ease-in-out;
          border: 1px solid #48828d !important;
          color: #334155 !important;
        }

        .p-dialog-content {
            padding: 0px 0px 30px 0px !important;
        }

        .p-dialog-footer {
            display: flex;
            justify-content: space-between;
            padding: 15px;
        }

        img {
            width: 100%;
        }
        /* Responsive */

        @media (max-width: 1200px) {
            .search-products,
            .selects-containers {
                width: 80%;
            }
            .filters-container {
                align-items: center;
                margin-top: 19em;
            }
        }

        @media (max-width: 768px) {
            .filters-container {
                align-items: center;
                margin-top: 19em;
            }
            .search-products,
            .selects-containers {
                width: 100%;
                flex-direction: column;
                gap: 10px;
                padding: 20px;
            }
            .buttons-container {
                flex-direction: column;
                align-items: center;
            }
             ::ng-deep .p-datatable {
                width: 100%;
            }
        }

        @media (max-width: 480px) {
            .label-view,
            .label-edit {
                font-size: 14px;
            }
            .p-dialog-footer {
                flex-direction: column;
                align-items: center;
                gap: 10px;
            }
            .filters-container {
                align-items: center;
                margin-top: 19em;
            }
        }
