<nav style="padding: 0px;" class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="main-layout">
        <header class="header">
            <div class="header-navbar">
                <div class="header-content">
                    <a routerLink="/home">
                        <img src="https://i.imgur.com/EcOPZMu.jpg" alt="Logo Empresa" class="header-logo">
                    </a>
                    <h1 class="header-title">Empresa</h1>
                    <button class="hamburger" (click)="toggleMenu()">&#9776;</button>
                </div>

                <div class="filter-container">
                    <p-iconfield>
                        <p-inputicon styleClass="pi pi-search"></p-inputicon>
                        <input type="text" class="search-bar" pInputText placeholder="Buscar Producto" [(ngModel)]="filters.searchTerms" />
                    </p-iconfield>

                    <!-- Muestra los productos filtrados debajo del input -->
                    <div class="resultados">
                        <ul *ngIf="filteredProducts.length > 0">
                            <li *ngFor="let producto of filteredProducts">{{ producto }}</li>
                        </ul>
                        <p *ngIf="filteredProducts.length === 0">No se encontraron resultados.</p>
                    </div>

                </div>

                <div class="iconos-container">
                    <a href="#" (click)="openLoginModal(); $event.preventDefault();" class="me-3">
                        <i class="pi pi-user"></i>
                    </a>
                    <a href="#">
                        <i class="pi pi-shopping-bag
                        "></i>
                        <!--<h4>S/.</h4>-->
                    </a>
                </div>
            </div>

            <div class="navegation" [ngClass]="{'open': menuOpen}">
                <div class="container">
                    <ul class="nav nav-pills  py-3">
                        <li class="nav-item" *ngFor="let item of menuItems">
                            <a class="nav-link text-white" [routerLink]="item.link" routerLinkActive="active">{{ item.label }}</a
                            >
                          </li>
                    </ul>
                </div>
            </div>
        </header>
    </div>
</nav>
