<div class="categoria-container">
    <h2 class="title-categoria">Categorias</h2>
    <div class="grid-categoria">
        <a href="categories" class="categoria">
            <img src="https://i.imgur.com/3dXrFIj.png" alt="">
            <p>Enchufes</p>
        </a>
        <a href="categories" class="categoria">
            <img src="https://i.imgur.com/3dXrFIj.png" alt="">
            <p>Enchufes</p>
        </a>
        <a href="categories" class="categoria">
            <img src="https://i.imgur.com/3dXrFIj.png" alt="">
            <p>Enchufes</p>
        </a>
        <a href="categories" class="categoria">
            <img src="https://i.imgur.com/3dXrFIj.png" alt="">
            <p>Enchufes</p>
        </a>
        <a href="categories" class="categoria">
            <img src="https://i.imgur.com/3dXrFIj.png" alt="">
            <p>Enchufes</p>
        </a>
        <a href="categories" class="categoria">
            <img src="https://i.imgur.com/3dXrFIj.png" alt="">
            <p>Ver mas</p>
        </a>
    </div>
</div>