<div class="container">
    <aside class="filtros-container">
        <h3>FILTRAR POR</h3>
        <div *ngFor="let filtro of filtros" class="filtro-categoria">
            <h4 (click)="toggleFiltro(filtro)">
                {{ filtro.nombre }} <span>{{ filtro.abierto ? '▲' : '▼' }}</span>
            </h4>
            <div class="filtro-opciones" *ngIf="filtro.abierto">
                <label *ngFor="let opcion of filtro.opciones">
          <input type="checkbox" [(ngModel)]="opcion.seleccionado">
          {{ opcion.nombre }}
        </label>
            </div>
        </div>
    </aside>
  <div class="product-section" *ngIf="products.length > 0; else noProducts">
    <div class="product-grid">
      <div class="product-card" *ngFor="let product of products">
        <div class="product-category">{{ product.category }}</div>
        <div class="product-image-container">
          <img [src]="product.image" [alt]="product.name" class="product-image" />
        </div>
        <div class="product-name">{{ product.name }}</div>
        <div class="product-price">
          <span *ngIf="product.isOffer; else regularPrice">
              <s>S/. {{ product.price }}</s> <strong>S/. {{ product.priceOffer }}</strong>
          </span>
          <ng-template #regularPrice>S/. {{ product.price }}</ng-template>
        </div>
        <button class="add-to-cart">Agregar</button>
      </div>
    </div>

    <p-paginator
      (onPageChange)="onPageChange($event)"
      [first]="first"
      [rows]="rows"
      [totalRecords]="totalRecords"
      [rowsPerPageOptions]="[8, 16, 24]"
    />
  </div>

  <ng-template #noProducts>
    <p>No hay productos disponibles.</p>
  </ng-template>
</div>

