<p-toast position="bottom-center" key="confirm" [baseZIndex]="5000">
    <ng-template let-message #message>
        <div class="flex flex-col items-start flex-auto">
            <div class="flex items-center gap-2">
                <span class="font-bold">Notificación</span>
            </div>
            <div class="font-medium text-lg my-4">{{ message.summary }}</div>
            <p-button severity="success" size="small" label="Ver carrito" routerLink="/cart" />
        </div>
    </ng-template>
</p-toast>

<div class="container">
    <aside class="filtros-container">
        <h3>FILTRAR POR</h3>
        <div *ngFor="let filtro of filtros" class="filtro-categoria">
            <h4 (click)="toggleFiltro(filtro)" class="filtro-titulo">
                {{ filtro.nombre }}
                <span class="filtro-icono">{{ filtro.abierto ? '▲' : '▼' }}</span>
            </h4>
            <div class="filtro-opciones" *ngIf="filtro.abierto">
                <label *ngFor="let opcion of filtro.opciones" class="filtro-opcion">
          <input type="checkbox" [(ngModel)]="opcion.seleccionado" (change)="onFilterChange()">
          {{ opcion.nombre }}
        </label>
            </div>
        </div>
    </aside>

    <div class="product-section" *ngIf="products.length > 0; else noProducts">
        <div class="ordenar-container">
            <label for="ordenar">Ordenar por:</label>
            <select id="ordenar" (change)="ordenarProductos($event)">
                <option value="asc">Menor a Mayor</option>
                <option value="desc">Mayor a Menor</option>
            </select>
        </div>
        <div class="product-grid">
            <div class="product-card" *ngFor="let product of products">
                <div class="product-category">{{ product.category }}</div>
                <div class="product-image-container">
                    <img [src]="product.image" [alt]="product.name" class="product-image" />
                </div>
                <div class="product-name">{{ product.name }}</div>
                <div class="product-price">
                    <span *ngIf="product.isOffer; else regularPrice">
              <s>S/. {{ product.price }}</s> <strong>S/. {{ product.priceOffer }}</strong>
          </span>
                    <ng-template #regularPrice>S/. {{ product.price }}</ng-template>
                </div>
                <div class="product-buttons">
                    <button class="add-to-cart" (click)="addToCart(product)">Agregar</button>
                    <button class="view-info" [routerLink]="['/', product.category, 'products', product.idProduct]">
            Más Información
          </button>
                </div>
            </div>
        </div>

        <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="totalRecords" [rowsPerPageOptions]="[8, 16, 24]" />
    </div>

    <ng-template #noProducts>
        <p>No hay productos disponibles.</p>
    </ng-template>
</div>