.container-image {
    width: 100%;
    margin-bottom: 20px;
    background-image: url("https://i.imgur.com/PJbwVjL.png");
    height: 300px;
    display: flex;
    align-items: center;
}

.container-image h2 {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    padding: 15px 60px;
    text-align: center;
    width: max-content;
    background-color: #48828d;
}

.container-image-title {
  width: 60%;
  margin: auto;
}
