.table-container {
    padding: 20px;
}

.imagen-category {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

::ng-deep .p-datatable {
    width: 80%;
    margin: auto;
}

 ::ng-deep .p-datatable-thead>tr>th {
    font-weight: bold;
}

.button-action {
    padding: 5px;
}

 ::ng-deep .p-button {
    background: #48828d;
    border-color: #48828d;
}

 ::ng-deep .p-button:hover {
    background: #fff !important;
    color: #48828d !important;
    border-color: #48828d !important;
}

.text-green-500 {
    color: green;
    font-weight: bold;
}

 ::ng-deep .p-button-secondary {
    color: #fff;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.label-view {
    font-weight: bold;
    color: #48828d;
    font-size: 18px;
}

.boton-agregar {
    display: flex;
    justify-content: end;
    margin-right: 13em;
}

.p-button-text {
    color: #fff!important;
}

.p-button-text:hover {
    color: red !important;
    background: #fff !important;
}

.p-button-danger {
    color: red !important;
}

.p-button-danger:hover {
    color: red !important;
}

::ng-deep .p-button {
    background: #48828d;
    border-color: #48828d;
}

 ::ng-deep .p-button:hover {
    background: #fff !important;
    color: #48828d !important;
    border-color: #48828d !important;
}

.filters-container {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-end;
}

.boton-agregar {
    display: flex;
    justify-content: end;
    margin-right: 13em;
}


/* Responsive */

@media (max-width: 1200px) {
    .filters-container {
        justify-content: center;
        margin-top: 19em;
    }
    .boton-agregar {
        margin-right: 5em;
    }
     ::ng-deep .p-datatable {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .filters-container {
        justify-content: center;
        margin-top: 19em;
    }
    .boton-agregar {
        margin-right: 0;
        justify-content: center;
    }
     ::ng-deep .p-datatable {
        width: 100%;
    }
    .button-container {
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .filters-container {
        justify-content: center;
        margin-top: 19em;
    }
    .label-view {
        font-size: 14px;
    }
    .button-action {
        padding: 3px;
    }
}