<div class="categorias-container">
    <div>
        <h2 class="titulo">
            Categorias de Empresa
        </h2>
    </div>

    <h3 class="subtitulo">
        Escoga una categoria
    </h3>

    <div class="categorias-grid">
        <div class="categorias-card">
            <a href="products"><img src="https://i.imgur.com/PFYHVPC.png" alt="">
                <p>Categoria Nombre</p>
            </a>
        </div>
        <div class="categorias-card">
            <a href="products"><img src="https://i.imgur.com/PFYHVPC.png" alt="">
                <p>Categoria Nombre</p>
            </a>
        </div>
        <div class="categorias-card">
            <a href="products"><img src="https://i.imgur.com/PFYHVPC.png" alt="">
                <p>Categoria Nombre</p>
            </a>
        </div>
        <div class="categorias-card">
            <a href="products"><img src="https://i.imgur.com/PFYHVPC.png" alt="">
                <p>Categoria Nombre</p>
            </a>
        </div>
        <div class="categorias-card">
            <a href="products"><img src="https://i.imgur.com/PFYHVPC.png" alt="">
                <p>Categoria Nombre</p>
            </a>
        </div>
        <div class="categorias-card">
            <a href="products"><img src="https://i.imgur.com/PFYHVPC.png" alt="">
                <p>Categoria Nombre</p>
            </a>
        </div>
        <div class="categorias-card">
            <a href="products"><img src="https://i.imgur.com/PFYHVPC.png" alt="">
                <p>Categoria Nombre</p>
            </a>
        </div>
        <div class="categorias-card">
            <a href="products"><img src="https://i.imgur.com/PFYHVPC.png" alt="">
                <p>Categoria Nombre</p>
            </a>
        </div>
    </div>
</div>