<section class="home-section-brands">
    <div class="title-sections">
        <h2>Marcas Destacadas</h2>
    </div>

    <div class="carousel basic">
        <div class="group" *ngFor="let image of images">
            <div class="card-imgs">
                <img [src]="image" alt="Prueba">
            </div>
        </div>
        <div aria-hidden class="group" *ngFor="let image of images">
            <div class="card-imgs">
                <img [src]="image" alt="Prueba">
            </div>
        </div>
    </div>





    <!-- <p-carousel [value]="brands" [numVisible]="5" [numScroll]="2" [circular]="true" [responsiveOptions]="responsiveOptions" [showIndicators]="true" [showNavigators]="false">
        <ng-template let-product pTemplate="item">
            <div class="m-2 p-4 flex justify-center">
                <img src="https://primefaces.org/cdn/primeng/images/demo/product/{{ product.image }}" [alt]="brands" class="w-full max-w-xs rounded-border shadow-lg" />
            </div>
        </ng-template>
    </p-carousel> -->
</section>
