<div class="filters-container">
  <div class="input-search">
    <input
      type="text"
      [(ngModel)]="filterReference"
      (input)="filterPayments()"
      placeholder="Buscar por referencia o usuario..."
      class="input-search"
    />
  </div>

  <div class="selects-containers">
    <p-dropdown [options]="statusOptions" [(ngModel)]="selectedStatus" placeholder="Estado" optionLabel="label" optionValue="value" (onChange)="filterPayments()"/>
  </div>
</div>

<div class="table-container">
  <p-table
    [value]="filteredPayments"
    [tableStyle]="{ 'min-width': '60rem' }"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[5, 10, 20]"
    sortMode="multiple"
    responsiveLayout="scroll"
    [loading]="loading"
    emptyMessage="No hay pagos"
    class="table-container"
  >
    <ng-template #caption>
      <div class="flex items-center justify-between mb-4">
        <span class="text-xl font-bold label-view">Pagos Registrados:</span>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="username">Usuario <p-sortIcon field="username"></p-sortIcon></th>
        <th pSortableColumn="reference">Referencia <p-sortIcon field="reference"></p-sortIcon></th>
        <th>Total</th>
        <th>Método</th>
        <th>Estado</th>
        <th>Voucher</th>
        <th>Acciones</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-pago>
      <tr>
        <td>{{ pago.username }}</td>
        <td>{{ pago.reference }}</td>
        <td>S/ {{ pago.amount | number: '1.2-2' }}</td>
        <td>{{ pago.paymentMethod }}</td>
        <td>{{ pago.status }}</td>
        <td>
          <button
            pButton
            type="button"
            label="Ver Voucher"
            class="button-action"
            (click)="viewFile(pago)"
            title="Ver archivo"
          ></button>
        </td>
        <td>
          <div *ngIf="pago.status === 'EN_REVISION'; else estadoFinalizado" class="d-flex align-items-center gap-2">
            <p-button
              icon="pi pi-check"
              class="button-action"
              (click)="validate(pago.idPayment, true)">
            </p-button>
            <p-button
              icon="pi pi-times"
              class="button-action"
              (click)="validate(pago.idPayment, false)">
            </p-button>
            <p-button
              icon="pi pi-eye"
              class="button-action"
              (click)="viewPayment(pago)">
            </p-button>
          </div>

          <ng-template #estadoFinalizado>
            <span *ngIf="pago.status === 'VERIFICADO'" class="text-green-600 font-semibold text-success fw-bold">Pago verificado</span>
            <span *ngIf="pago.status === 'RECHAZADO'" class="text-red-600 font-semibold text-danger fw-bold">Pago rechazado</span>
            <p-button
              icon="pi pi-eye"
              class="button-action ms-2"
              (click)="viewPayment(pago)">
            </p-button>
          </ng-template>
        </td>
      </tr>
    </ng-template>

    <ng-template #footer>
      En total hay {{ filteredPayments?.length || 0 }} pagos registrados.
    </ng-template>
  </p-table>
</div>

<p-dialog header="Detalles del Pago:" [(visible)]="viewDialog" [style]="{ width: '30rem' }">
  <div class="flex flex-col gap-4">

    <div class="flex items-center gap-4">
      <label class="font-semibold w-32 label-view">Nombre completo:</label>
      <span class="flex-auto">{{ selectedPayment?.fullName }}</span>
    </div>

    <div class="flex items-center gap-4">
      <label class="font-semibold w-32 label-view">Usuario:</label>
      <span class="flex-auto">{{ selectedPayment?.username }}</span>
    </div>

    <div class="flex items-center gap-4">
      <label class="font-semibold w-32 label-view">Email:</label>
      <span class="flex-auto break-words">{{ selectedPayment?.email }}</span>
    </div>

    <div class="flex items-center gap-4">
      <label class="font-semibold w-32 label-view">DNI:</label>
      <span class="flex-auto">{{ selectedPayment?.dni }}</span>
    </div>

    <div class="flex items-center gap-4">
      <label class="font-semibold w-32 label-view">Referencia:</label>
      <span class="flex-auto">{{ selectedPayment?.reference }}</span>
    </div>

    <div class="flex items-center gap-4">
      <label class="font-semibold w-32 label-view">Tipo de envío:</label>
      <span class="flex-auto">{{ selectedPayment?.typeShipment }}</span>
    </div>

    <div class="flex items-center gap-4">
      <label class="font-semibold w-32 label-view">Monto total:</label>
      <span class="flex-auto">S/ {{ selectedPayment?.amount | number: '1.2-2' }}</span>
    </div>

    <div class="flex items-center gap-4">
      <label class="font-semibold w-32 label-view">Monto pagado:</label>
      <span class="flex-auto">S/ {{ selectedPayment?.amount | number: '1.2-2' }}</span>
    </div>

    <div class="flex items-center gap-4">
      <label class="font-semibold w-32 label-view">Método de pago:</label>
      <span class="flex-auto">{{ selectedPayment?.paymentMethod }}</span>
    </div>

    <div class="flex items-center gap-4">
      <label class="font-semibold w-32 label-view">Estado:</label>
      <span class="flex-auto">{{ selectedPayment?.status }}</span>
    </div>

    <div class="flex items-center gap-4">
      <label class="font-semibold w-32 label-view">Fecha de pago:</label>
      <span class="flex-auto">{{ selectedPayment?.datePayment | date: 'short' }}</span>
    </div>

    <div class="flex items-center gap-4">
      <label class="font-semibold w-32 label-view">Voucher:</label>
      <span class="flex-auto text-blue-500 break-words">
        <a (click)="viewFile(selectedPayment)" target="_blank" class="hover:underline">
          Ver Voucher
        </a>
      </span>
    </div>
  </div>
</p-dialog>
