<div class="payment-container">
  <div class="resumen-pago">
    <p>Envío: S/ {{ delivery }}</p>
    <p><strong>Total a pagar: S/ {{ total }}</strong></p>
  </div>

  <section class="info-pago">
    <h3>Realiza el pago a:</h3>
    <p><strong>Yape:</strong> 999 999 999</p>
    <p><strong>BCP:</strong> 123-456-789</p>
    <img src="assets/qr.png" alt="QR Yape" width="200">
  </section>

  <form *ngIf="paymentForm" [formGroup]="paymentForm" (ngSubmit)="submit()">
    <div>
      <label for="reference">Referencia de pago:</label><br>
      <input type="text" id="reference" formControlName="reference">
      <div *ngIf="paymentForm && paymentForm.get('reference')?.invalid && paymentForm.get('reference')?.touched" style="color:red">
        La referencia es obligatoria.
      </div>
    </div>

    <div style="margin-top: 10px;">
      <label for="file">Comprobante de pago (archivo):</label><br>
      <input
        type="file"
        id="file"
        (change)="onFileChange($event)"
        accept=".jpg,.jpeg,.png,.pdf"
      />
      <div *ngIf="fileTouched && !selectedFile" style="color:red">
        Debes seleccionar un archivo válido (JPG, PNG o PDF).
      </div>
    </div>

    <div style="margin-top: 20px;">
      <button type="submit">Enviar Pago</button>
    </div>
  </form>
</div>
